.section3 {
    height: 700px;
    margin: 180px auto;
    &__title {
        color: #83888F;
        font-size: 24px;
        font-weight: 900;
        margin: 0 0 0 75px;
    }
    &__dots-wrapper {
        display: flex;
        align-items: center;
        margin: 50px 0 0 75px;
    }
    &__dot {
        width: 40px;
        height: 40px;
        border: 1px solid #0E8784;
        border-radius: 50%;
    }
    hr {
        width: 400px;
        height: 3px;
        border: none;
        background-color: #FDD6BA;
    }
    &__wrapper {
        display: flex;
        gap: 140px;
        margin: 70px 0 0 75px;
    }
    &__box {
        width: 300px;
        &-num {
            font-size: 72px;
            font-weight: 900;
            color: #FDD6BA;
        }
        &-title {
            width: 200px;
            font-size: 32px;
            font-weight: 900;
            color: #333D4B;
            margin: 30px 0;
        }
    }
    &__btn {
        margin: 80px 0 0 75px;
    }
}



@media screen and (max-width: 400px) {
    .section3 {
        width: 100%;
        height: 1350px;
        padding: 20px;
        &__title {
            text-align: center;
            margin: 0;
        }
        &__dots-wrapper {
            display: none;
        }
        &__wrapper {
            flex-wrap: wrap;
            margin: 70px 0 0 0;
        }
        &__box {
            width: 100%;
            text-align: center;
            &-title {
                width: 100%;
            }
        }
    }
}